html
    head
        
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js")
        title Card Trading app
        
    body
       
        h2 Log In or Register Below
        label(id="error") 
        br
        label Username :
        input(type="text",id="user")
        br
        br
        label Password :
        input(type="password",id="pass")
        br
        br
        button(id='btn_register') Register
        button(onclick='',id='btn_login') Login
        br
        br
        .already
        script(src="home.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")