html
  head
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
  body
    h1= message
    input(type="text")
    br
    br
    input(type="button" class="btn btn-info" value="Input Button")